<a class="button-link" href="adding_definition">Добавить определение</a>
<div class="def-table-wrapper">
    <table class="def-table table">
        <tr class="def-table-string header-string">
            <th class="def-table-header-data header_data">Слово</th>
            <th class="def-table-header-data header_data">Значение</th>
            <th class="def-table-header-data header_data">Дата добавления</th>
        </tr>
        {{#each definitions}}
            <tr class="def-table-string row-string">
                <td class="def-table-row_data row_data">
                    <div class="header-data-text">{{this.prefix}}{{this.postfix}}</div>
                    <a class="del-img-link" href="del_definition/{{this._id}}">
                        <div class="del-img-wrapper"></div>
                    </a></td>
                <td class="def-table-row_data row_data">{{this.definition}}</td>
                <td class="def-table-row_data row_data">{{getTime this.created}}</td>
            </tr>
        {{/each}}
    </table>
</div>